<h1>Your Events</h1>

<%= button_to 'Create New Event', new_event_path, method: :get %>

<ul>
  <% @user.created_events.each do |event| %>
    <li>
      <%= event.title %><br>
      <%= event.description %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Events', events_path%>