<h1>All Events</h1>
<ul class="events">
  <% @events.each do |event| %>
    <li>
      <%= event.title %><br>
      <%= event.description %><br>
      <br><%= button_to 'Check Event', event_path(event), method: :get %>
    </li>
  <% end %>
</ul>