// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 

.flex {
  margin-bottom: 2rem;
}

.left h3 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}

li {
  margin-bottom: .5rem;
}